.container{
    margin-top: 0px;
    display: flex;
    background-color: #BABABA; 
}
.header{
    font-weight: 800;
}

.about{
    padding-left: 200px;
    width: 800px;
}
.contact{
    padding-left: 450px;
}
.contactcontainer{
    row-gap: 20px;
}
.card{
    display: flex;
    margin-top: 10px;
}
.card img{
    padding-left: 10px;
}
@media (width <= 1080px){
    .container{
        flex-direction: column;
    }
}